<!DOCTYPE html>
<html>

<head>
    <title>CORS With Cookies</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
    <link rel="stylesheet" href="/css/common.css">  
</head>

<body>
    {{>header}}
    <div class="container">
        <h1>访问次数最都得请求</h1> <span>Total: {{total}}</span>
        <div class="row col-md-12 table-responsive">
            <table id="customerTable" class="table">
                <thead>
                    <tr>
                        <th>URI</th>
                        <th>Host</th>
                        <th>后端响应时间</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each hits}}
                        <tr>
                            <td>{{_source.request_uri}}</td>
                            <td>{{_source.requestOn}}</td>
                            <td>{{_source.upstream_response_time}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function(){
            
        });
    </script>
</body>

</html>