<!DOCTYPE html>
<html>

<head>
    <title>Nginx 请求次数Top 100</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
    <link rel="stylesheet" href="/css/common.css">  
    <style>
        .table td{
            word-break: break-all;
        }
    </style>
</head>

<body>
    {{>header}}
    <div class="container">
        <h1>访问次数最多的请求</h1>
        <div class="row col-md-12 table-responsive">
            <table id="customerTable" class="table">
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>次数</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each buckets}}
                        <tr>
                            <td>{{key}}</td>
                            <td class="text-nowrap" >{{doc_count}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function(){
            
        });
    </script>
</body>

</html>