<!DOCTYPE html>
<html>

<head>
    <title>Top 200 慢响应请求</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
    <link rel="stylesheet" href="/css/common.css">  
    <style>
        .table td{
            word-break: break-all;
        }

    </style>
</head>

<body>
    {{>header}}
    <div class="container-fluid">
        <h1>响应时间</h1> <span>Total: {{total}}</span>
        <div class="row col-md-12 table-responsive">
            <table id="customerTable" class="table">
                <thead>
                    <tr>
                        <th>URL</th>
                        <th class="text-nowrap">请求时刻</th>
                        <th class="text-nowrap">后端响应时间</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each hits}}
                        <tr>
                            <td>{{_source.request_url}}</td>
                            <td esDate="{{_source.requestOn}}" class="text-nowrap"></td>
                            <td>{{_source.upstream_response_time}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function(){
            $('td[esDate]').each(function () {
                $(this).text(new Date($(this).attr('esDate')).toLocaleString());
            })
        });
    </script>
</body>

</html>